<p *ngIf="!product">Product is loading...</p>

<div *ngIf="product" class="h-100 d-flex flex-column">

    <div class="row">
        <div class="col-md-3 col-12 text-center">
            <product-image id="product-image" [fileId]="product.image" (imageSaved)="onImageUpdated($event)"></product-image>
        </div>

        <!-- Name and description -->
        <div class="col-md col-12">
            <!-- VIEW MODE -->
            <ng-container *ngIf="!editModeOn; else editMode">
                <h1>{{product.name}}</h1>
                <div class="col-12">
                    <p *ngIf="product.description">{{product.description}}</p>
                </div>
            </ng-container>
            <!-- EDIT MODE -->
            <ng-template #editMode>
                <edit-product [product]="product" (productUpdated)="onProductUpdated($event, setEditModeOff)"></edit-product>
            </ng-template>
        </div>
    </div>

    <div class="row" *ngIf="scan">
        <scan-card [scan]="scan"></scan-card>
    </div>
</div>

<!-- footer -->
<div class="footer px-2 py-2">
    <div class="d-flex justify-content-between">
        <!-- Setup providers -->
        <button class="btn-block btn btn-info" (click)="onProvidersBtn()" i18n>
            <i class="bi bi-sliders"></i>
        </button>
        <!-- Edit -->
        <button class="btn-block btn btn-warning" (click)="onEditBtn()" [disabled]="editModeOn" i18n>
            <i class="bi bi-pencil"></i>
        </button>
        <!-- Scan -->
        <div class="d-inline-block">
            <ng-container *ngIf="isDevMode">
                <button class="btn-block btn btn-light" (click)="onScanBtn(true)">
                    <i class="bi bi-bug"></i>
                </button>
                <br>
            </ng-container>
            <button class="btn-block btn btn-primary" async-btn [async-btn-is-busy]="btnLoadingMap['scan']"
                (click)="onScanBtn()" i18n>
                <i class="bi bi-search"></i>
            </button>
        </div>
        <!-- Delete -->
        <button class="btn-block btn btn-danger" (click)="onDeleteBtn()" i18n>
            <i class="bi bi-trash"></i>
        </button>
    </div>
</div>

<ng-template #providersModal let-modal>
    <ng-container *ngIf="product">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title" i18n>Set-up a provider</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <setup-provider (productUpdated)="onProductUpdated($event, closeProvidersModal)" [product]="product" #providerSetupForm></setup-provider>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" [disabled]="providerSetupForm.form.invalid" (click)="providerSetupForm.save()">Save</button>
        </div>
    </ng-container>
</ng-template>