<p *ngIf="!product">Product is loading...</p>

<div *ngIf="product" class="h-100 d-flex flex-column">

    <div class="row">
        <div class="col-md-3 col-12 text-center">
            <product-image id="product-image" [fileId]="product.image" (imageSaved)="onImageUpdated($event)"></product-image>
        </div>
        <div class="col-md col-12">
            <h1>{{product.name}}</h1>
            <div class="col-12">
                <p *ngIf="product.description">{{product.description}}</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-auto" i18n>
            <span class="fw-bold">Providers</span>
        </div>
        <div class="col-10">
            <span class="badge rounded-pill text-bg-primary cursor-def" *ngFor="let provider of product.providers">
                {{provider}}
                <button type="button" class="btn-close" aria-label="Remove provider"></button>
            </span>
        </div>
    </div>

    <div class="row flex-grow-1">
        <div class="col-12 text-center align-self-end">
            <button class="btn btn-danger mb-3" (click)="onDeleteBtn()" i18n>Delete product</button>
        </div>
    </div>

</div>